.titulo {
  font-size: 14px;
  line-height: 10px;
  color: #3366cc !important;
  font-weight: 600;
  font-family: 'Roboto', sans-serif !important;
}

.ant-modal-header {
  height: 40px;
  font-family: 'Ecopetrol' !important;
  border: none !important;
}

.ant-table-thead > tr > th {
  color: #000;
  border-bottom: 1px solid #979797 !important;
  white-space: nowrap !important;
  font-family: 'Roboto', sans-serif !important;
}

.ant-modal-close-x {
  margin-top: -5px;
  font-size: 10px;
  font-weight: 400;
  color: #808080;
  cursor: pointer;
  font-weight: bold;
}

table th {
  text-align: center !important;
  background-color: #fff !important;
  font-family: 'Roboto', sans-serif !important;
}

.ant-table-cell {
  border: none !important;
  font-family: 'Roboto', sans-serif !important;
}

.ant-modal-footer {
  display: none;
}

.ant-modal-footer {
  text-align: center;
}

.ant-table-cell {
  text-align: center !important;
  font-family: 'Roboto', sans-serif !important;
}

.estado {
  margin-top: 18px;
}

.contenedor {
  width: 100%;
  display: flex;
  align-items: center;
}

.changeSearchType {
  background-color: #3366cc;
  color: #000 !important;
}

/* The alert message box */
.alert {
  padding: 20px;
  color: #0000;
  margin-bottom: 15px;
}

.caja {
  width: 100%;
  padding: 10px;
  outline: none !important;
  border: 1px solid rgb(199, 199, 199);
}

.buscar {
  margin: 0 auto;
}

.estado {
  margin-top: 18px;
}

.contenedor {
  width: 100%;
  display: flex;
  align-items: center;
}

/* The alert message box */
.alert {
  padding: 20px;
  color: #0000;
  margin-bottom: 15px;
}

.caja {
  width: 100%;
  padding: 10px;
  outline: none !important;
  border: 1px solid rgb(199, 199, 199);
}

.buscar {
  margin: 0 auto;
}

.no_margin {
  margin: 0px;
}

.margintop {
  margin-top: 1vh;
}

.fullwidth {
  width: 100%;
}
