.titulo {
  font-size: 18px;
  line-height: 10px;
  color: #000;
  font-weight: bold;
}

.ant-modal-header {
  background-color: #dfdfdf;
  height: 40px;
}

.ant-table-thead > tr > th {
  color: #000;
  font-size: 17px;
}

.ant-modal-close-x {
  margin-top: -5px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(95, 95, 95);
}

table th {
  text-align: center !important;
  background-color: #fff !important;
}

.ant-table-cell {
  border: none !important;
}

.ant-modal-footer {
  display: none;
}

.ant-modal-footer {
  text-align: center;
}

.ant-table-cell {
  text-align: center !important;
}

.estado {
  margin-top: 18px;
}

.contenedor {
  width: 100%;
  display: flex;
  align-items: center;
}

/* The alert message box */
.alert {
  padding: 20px;
  color: #0000;
  margin-bottom: 15px;
}

.caja {
  width: 100%;
  padding: 10px;
  outline: none !important;
  border: 1px solid rgb(199, 199, 199);
}

.buscar {
  margin: 0 auto;
}
