@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
  text-decoration: none !important;
}



.ant-table table {
  font-size: 14px !important;
}

.navbar {
  border-bottom: 3px solid rgb(4, 195, 209);
  background-color: #cbcbcb !important;
  color: #000;
  font-weight: 500;
}

.info-secion {
  width: 100% !important;
  margin-left: -12px !important;
}

.info-tramite {
  margin-left: -6px !important;
}

.img-bogota img {
  width: 60%;
  display: flex;
  float: left;
  margin-top: -30px;
}

.img-profile {
  position: relative;
}

.img-profile img {
  width: 20%;
  float: right;
  margin-top: -30px;
}

.info-usuario {
  position: absolute;
  bottom: -120px;
  right: 16px;
  font-size: 18px;
  margin-right: -1px;
  margin-top: 100px !important;
}


.breadcrumb {
  background-color: #fff !important;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  font-family: 'fontAwesome';
  font-weight: bold;
  content: '\f105';
  color: #000;
  font-size: 17px;
}

.breadcrumb .breadcrumb-item a {
  color: #3366cc;
  font-size: 17px !important;
  font-weight: 500;
  font-family: 'Roboto', sans-serif !important;
  text-decoration: none;
}

.breadcrumb>.active {
  color: #000 !important;
  font-size: 17px !important;
  font-weight: 500;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.ubi-menu .panel a {
  background-color: #cbcbcb !important;
}

.ubi-menu .panel a {
  color: #000;
  border-bottom: 3px solid rgb(4, 195, 209);
}

.panel>.active {
  color: #0055ff;
  font-size: 17px !;
  font-weight: 600;
  text-decoration: none;
}

.info-tramite p {
  color: #4111a8;
  font-size: 17px !important;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Roboto', sans-serif !important;
  margin-top: -25px !important;
}

.mb-0>a {
  display: block;
  position: relative;
  color: #000;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
}

.mb-0>a:after {
  content: '\f105';
  /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
  color: #000;
}

.mb-0>a[aria-expanded='true']:after {
  content: '\f077';
  color: #000;
  /* fa-chevron-up */
}

.mb-0>a[aria-expanded='true']:after {
  content: '\f105';
  color: #000;
  /* fa-chevron-up */
}

#accordion .button {
  width: 40%;
  margin-right: 210px !important;
}

.dm {
  cursor: none;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
  font-size: 17px !important;
}

a.collapsed.dm::after {
  content: '\f054';
  color: #000;
  font-weight: bold !important;
  /* fa-chevron-up */
  cursor: pointer;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0px;
}

a.nav-link.hero_b {
  font-family: 'Roboto', sans-serif !important;
  font-size: 17px !important;
  padding: 7px 10px;
  margin-right: 10px;
  font-weight: 500 !important;
}

.info {
  font-family: 'Roboto', sans-serif !important;
  font-size: 17px !important;
  padding: 7px 10px;
  margin-right: 10px;
}

.ant-table-thead {
  font-family: 'Roboto', sans-serif !important;
  white-space: nowrap;
}

.ant-table-tbody>tr>td {
  font-family: 'Roboto', sans-serif !important;
  text-align: left !important;
}

.bandeja_panel a.nav-link {
  border-top: 2px solid #ff7f26 !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
  margin-right: 14px;
}

.ant-table table {
  font-size: 10px;
}

.nav-link .active {
  background-color: red;
}

.filtro {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
}

.nav-link {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
  color: #000 !important;
}

.ant-pagination,
.ant-table {
  width: 95% !important;
}

.text {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important;
}

.required {
  color: red;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .contenedor {
    display: block;
  }

  .tipo {
    font-size: 11px !important;
  }

  .tipo_s {
    width: 210px !important;
  }

  .textarea {
    width: 320px !important;
  }

  .documents {
    width: 30% !important;
    display: inline-block !important;
  }

  .pdf {
    bottom: 0 !important;
    left: 0 !important;
    width: 50% !important;
    display: inline-block !important;
  }
}

.home {
  background-color: #058131 !important;
  height: 50px !important;
}

.home p {
  font-size: 18px;
  float: right;
}

.prueba {
  margin-left: -8px !important;
}

.tarjeta {

  height: 750px !important;
}

.bandeja_panel {

  width: 1200px !important;
  height: 400px !important;
  margin-top: 10px !important;
}

.encabezados {
  margin-top: 20px;
  margin-left: 5px;
}

.panel_d {
  width: 434px !important;
}

.panel_ds {
  width: 380px !important;
}

.select_d {
  margin-left: -5px !important;
}

.select {
  width: 800px !important;
}


@media (max-width: 992) {

  .bandeja_panel {
    background-color: red !important;
  }
}
